<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/public/index.css" />
        <title>HomePage</title>
    </head>
    <header>
        <div class="Nav">
            <ul>
                <a href="#"><img src="/img/LOGO.jpg" alt="" /></a>
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
            </ul>
        </div>
    </header>
    <body>
        <div class="grid-container">
            <div class="grid-menu">
                <div class="wrap-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input
                        type="text"
                        placeholder="search..."
                        class="search-bar"
                    />
                </div>
                <div class="grid-card">
                    <div class="wrap-card">
                        <img
                            src="/img/450239748_1132872314488541_3810606873082356498_n.png"
                            alt=""
                        />
                        <div class="text">
                            <div class="text-type">
                                <p>
                                    Spaghetti with <br />
                                    sausage
                                </p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$11.99</div>
                        </div>
                    </div>
                    <div class="wrap-card">
                        <img
                            src="/img/449516122_1007320284229452_8700785942204795957_n.png"
                            alt=""
                        />
                        <div class="text">
                            <div class="text-type">
                                <p>
                                    Stir-fried squid <br />
                                    with rice
                                </p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$9.95</div>
                        </div>
                    </div>
                    <div class="wrap-card">
                        <img
                            src="/img/449645150_492690563243551_6140583452591119690_n.png"
                            alt=""
                        />
                        <div class="text">
                            <div class="text-type">
                                <p>Pad thai</p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$5.99</div>
                        </div>
                    </div>
                    <div class="wrap-card">
                        <img
                            src="/img/450548529_1863563510722742_7539027640830198389_n.png"
                            alt=""
                        />
                        <div class="text">
                            <div class="text-type">
                                <p>Lemon Tea</p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$1.99</div>
                        </div>
                    </div>
                    <div class="wrap-card">
                        <img src="/img/cocktail_10.jpg" alt="" />
                        <div class="text">
                            <div class="text-type">
                                <p>Cocktail</p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$4.99</div>
                        </div>
                    </div>
                    <div class="wrap-card">
                        <img
                            src="/img/fb56a4de-ec8a-421c-bc0c-5cb3b14b8cc9.jpg"
                            alt=""
                        />
                        <div class="text">
                            <div class="text-type">
                                <p>Coffee Latte</p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$2.99</div>
                        </div>
                    </div>
                    <div class="wrap-card">
                        <img src="/img/IMG_9094.jpg" alt="" />
                        <div class="text">
                            <div class="text-type">
                                <p>Thai tea ice cream</p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$1.25</div>
                        </div>
                    </div>
                    <div class="wrap-card">
                        <img
                            src="/img/281122-Content-_5-สูตรเมนู-ของหวาน02.jpg"
                            alt=""
                        />
                        <div class="text">
                            <div class="text-type">
                                <p>Mango sticky rice</p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$1.99</div>
                        </div>
                    </div>
                    <div class="wrap-card">
                        <img src="/img/caramel-castard-taco-bell.jpg" alt="" />
                        <div class="text">
                            <div class="text-type">
                                <p>Creme caramel</p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                    <li><i class="fa-regular fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="prices">$1.50</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-cart">
                <div class="list">
                    <div class="grid-list">
                        <img
                            src="/img/449516122_1007320284229452_8700785942204795957_n.png"
                            alt=""
                        />
                        <div class="text-list">
                            <h5>Stir-fried squid with rice</h5>
                            <p>$9.95</p>
                        </div>
                        <div class="add">
                            <i class="fa-solid fa-plus"></i>
                            <h5>1</h5>
                            <i class="fa-solid fa-minus"></i>
                        </div>
                    </div>
                    <div class="grid-list">
                        <img src="/img/cocktail_10.jpg" alt="" />
                        <div class="text-list">
                            <h5>Cocktail</h5>
                            <p>$4.99</p>
                        </div>
                        <div class="add">
                            <i class="fa-solid fa-plus"></i>
                            <h5>1</h5>
                            <i class="fa-solid fa-minus"></i>
                        </div>
                    </div>
                    <div class="grid-list">
                        <img src="/img/IMG_9094.jpg" alt="" />
                        <div class="text-list">
                            <h5>Thai tea ice cream</h5>
                            <p>$1.25</p>
                        </div>
                        <div class="add">
                            <i class="fa-solid fa-plus"></i>
                            <h5>1</h5>
                            <i class="fa-solid fa-minus"></i>
                        </div>
                    </div>
                    <div class="grid-pay">
                        <div class="prices-pay">
                            <p>prices: <span class="TT">$16.19</span></p>
                            <p>Shipping cost: <span class="TT">$0.50</span></p>
                            <p>Total: <span class="TT">$16.69</span></p>
                        </div>
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>@HamHarry By Web Developer</footer>
</html>
